.brand-logo{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 25%;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: linear-gradient(135deg, #2c3e50, #4a00e0);
  color: white;

}
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: antiquewhite;
}
div.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 16px;
  transition: color 0.3s;
}